@import 'bootstrap';

.bg-principal{
    background-color: #1D3B6C;
}

.text-principal{
    color: #1D3B6C;
}

.btn-principal{
    background-color: #1D3B6C;
    color: #fff;
}

.btn-principal:hover{
    background-color: #1a345f;
    color: #fff;
}

#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer{
    margin-top: auto;
}